<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b40665b8d8.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/css/détailséquipe.css">

    <title>Non Trouve</title>
</head>
<body>
    <div class="container" style="padding-top:80px; padding-bottom:80px;text-align:center">
        <h1 style="color: white;">Equipe non-trouve</h1>
        <h2 style="color: white;">L'equipe que vous avez tenter d'afficher n'a pas ete trouve :/</h2>
        <h3 style="color: white;">Meilleur chance la prochaine fois</h3>

        <div style="margin-top:40px">
            <a asp-controller="Home" asp-action="Index">Back home</a>
        </div>
    </div>

    @section NomPage {
        ERREUR
    }
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
